.total-row {
    align-items: center;
    padding-bottom: 1rem;
    span {
        font-weight: bold;
        padding-left: 2rem;
    }
    button {
        margin-left: 10px;
        padding-left: 2rem;
    }
}

.ag-theme-quartz {
    height: 50vh;
    width: 100%;
}