@if (items().length) {
	<div>
		<ag-grid-angular
			class="ag-theme-quartz"
			[rowSelection]="rowSelection"
			[stopEditingWhenCellsLoseFocus]="true"
			[rowData]="items()"
			[columnDefs]="colDefs"
			(gridReady)="onGridReady($event)"
			(cellValueChanged)="onCellValueChanged($event)" />
		<div class="total-row">
			<span>Total</span>
			<span>{{ total() }}</span>
			<button mat-flat-button (click)="copyTableToClipboard()">
				Copy to Clipboard
			</button>
			<button mat-flat-button (click)="deleteSelectedItems()">
				Delete Items
			</button>
		</div>
	</div>
}
