<div class="container py-4">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 rounded bg-white shadow-sm border-bottom">
				<span class="fs-4 text-primary fw-bold">{{ title }}</span>
			</header>

			<app-person-storage
				[(persons)]="persons"
				[(items)]="items"></app-person-storage>

			<app-persons [(persons)]="persons" [(items)]="items"></app-persons>

			<app-items [persons]="persons()" [(items)]="items"></app-items>

			<app-split [(persons)]="persons" [(items)]="items"></app-split>
		</div>
	</div>
</div>
